<div class="row">
    <div class="col-lg-12 d-flex align-items-stretch">
      <div class="card w-100">
        <div class="card-body p-4">
          <div class="">
            <h5 class="mb-0 fw-bold"><%= task.title %></h5>
            <p class="mt-3">
              <strong>Description:</strong>
              <%= task.description %>
            </p>

            <p>
              <strong>Due date:</strong>
              <%= task.due_date.strftime("%-d, %b %Y") %>
            </p>

            <p>
              <strong>Status:</strong>
              <%=render_badge(task.status)%>
            </p>

            <p>
              <strong>Category:</strong>
              <%= task.category %>
            </p>

            <div class="d-flex">
              <%= link_to "Edit Task", edit_dashboard_task_path(task), class: 'btn btn-success' %>
              <%= button_to "Destroy Task", dashboard_task_path(task), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} ,class: 'btn btn-danger mx-3' %>
              <%= link_to "Back to tasks", dashboard_tasks_path, class: 'btn btn-light' %> 
            </div>

          </div>
        </div>
        </div>
    </div>
  </div>

