<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
    <title><%= content_for(:title) || "Focushub" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="shortcut icon" type="image/png" href="../assets/images/logos/favicon.png" />
    <%= stylesheet_link_tag "dashboard", "data-turbo-track": "reload" %>
  </head>

  <body>
  <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
      data-sidebar-position="fixed" data-header-position="fixed">
      <%= render "layouts/dashboard_sidebar" %>
      <div class="body-wrapper">
        <%=render "dashboard/shared/dashboard_header" %>
        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag "dashboard", "data-turbo-track": "reload" %>
  </body>
</html>
